@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Scripts/layui-v2.5.6/layui/css/layui.css" media="all">
    <script src="~/Scripts/layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>订单管理</title>
    <style>
        
    </style>
</head>
<body>
    <button type="button" class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left:20px;top:20px" onclick="orderbox()">商品进货</button>
    @*<button type="button" class="layui-btn layui-btn-lg layui-btn-danger">商品退货</button>*@
    <div id="testIframe" style="height:500px">
        <iframe id="iframe" style="border:0; width:100%; background-color:#FFF;height:100%" name="iframe" frameborder="0" src="/Table/Table?name=v_OrderformList">  </iframe>
    </div>
    <div id="orderbox" style="display:none">
        <form class="layui-form" action="">
            <div class="layui-form-item layui-laypage-btn layui-row">
                <div class="layui-col-xs6">
                    <label class="layui-form-label">订单号</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderno" id="orderno" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">供应商</label>
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="" id="suppliercode">
                            <option value="">直接选择或搜索选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">总价</label>
                    <div class="layui-input-block">
                        <input type="text" id="total" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">进货时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="checktime" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">订单类型</label>
                    <div class="layui-input-block">
                        <input type="text" id="state" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="进货">
                    </div>
                </div>
            </div>
        </form>@*单头*@
        <div class="childBody">
            <section class="layui-col-md12" style="margin: 0 auto; float: none;">
                <div class="layui-card">
                    <div class="layui-card-body layui-text">
                        <div id="toolbar">
                            <div>
                                <button type="button" class="layui-btn layui-btn-sm" data-type="addRow" title="添加一行">
                                    <i class="layui-icon layui-icon-add-1"></i> 添加一行
                                </button>
                            </div>
                        </div>
                        <div id="tableRes" class="table-overlay">
                            <table id="dataTable" lay-filter="dataTable" class="layui-hide" style="width:100%"></table>
                        </div>
                        <div id="action" class="text-center">
                            <button type="button" name="btnSave" class="layui-btn" data-type="save"><i class="layui-icon layui-icon-ok-circle"></i>保存</button>
                            <button type="reset" name="btnReset" class="layui-btn layui-btn-primary">取消</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--recommended script position-->

            <script type="text/javascript">
                $(function () {
                    var data = fnGetDataArryObj("Commoditytype", "");
                    var data1 = fnGetDataArryObj("Supplier", "");
                    data = JSON.parse(data);
                    data1 = JSON.parse(data1);
                    //for (var i = 0; i < data.length; i++) {
                    //    $("#typecode").append("<option value=" + data[i].id + ">" + data[i].name + "</option>");
                    //}
                    for (var i = 0; i < data.length; i++) {
                        $("#suppliercode").append("<option value=" + data1[i].suppliercode + ">" + data1[i].name + "</option>");
                    }
                    this.reload();
                });
                //准备视图对象
                window.viewObj = {
                    tbData: [{
                        factorycode: '',
                        name: '',
                        num: '',
                        price: '',
                        sumprice: '',
                    }],
                 
                };

                //layui 模块化引用
                layui.use(['jquery', 'table', 'layer'], function () {
                    var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer;

                    //数据表格实例化
                    var tbWidth = $("#tableRes").width();
                    var layTableId = "layTable";
                    
                    var tableIns = table.render({
                        elem: '#dataTable',
                        id: layTableId,
                        data: viewObj.tbData,
                        width: tbWidth,
                        limit:100,
                        loading: true,
                        even: false, //不开启隔行背景
                        cols: [[
                            //{ title: '序号', type: 'numbers' },
                            { field: 'factorycode', title: '工厂码', edit: 'text',width:150 },
                            {
                                field: 'name', title: '商品名称', edit: 'text', width: 150, templet: function (d) {
                                    if (d.factorycode == undefined || d.factorycode == "") return null;
                                    else return GetName(d);
                                }
                            },
                            { field: 'num', title: '数量', edit: 'text', width: 100 },
                            { field: 'price', title: '进货单价', edit: 'text', width: 100},
                            { field: 'sumprice', title: '总额', edit: 'text', width: 100, templet: function (d) { return d.num * d.price } },
                            {
                                field: 'tempId', title: '操作', width: 150, templet: function (d) {
                                    return '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-id="' + d.tempId + '"><i class="layui-icon layui-icon-delete"></i>移除</a>';
                                }
                            }
                        ]],
                        done: function (res, curr, count) {
                            viewObj.tbData = res.data;
                            
                        }
                    });

                    //定义事件集合
                    var active = {
                        addRow: function () {	//添加一行
                            var oldData = table.cache[layTableId];
                            var newRow = {
                                factorycode: '',
                                name: '',
                                num: '',
                                price: '',
                                sumprice: '',
                            };
                            oldData.push(newRow);
                            tableIns.reload({
                                data: oldData
                            });
                        },
                        updateRow: function (obj) {
                            var oldData = table.cache[layTableId];
                            for (var i = 0, row; i < oldData.length; i++) {
                                row = oldData[i];
                                if (row.tempId == obj.tempId) {
                                    $.extend(oldData[i], obj);
                                    return;
                                }
                            }
                            tableIns.reload({
                                data: oldData
                            });
                        },
                        removeEmptyTableCache: function () {
                           
                                var oldData = table.cache[layTableId];
                                for (var i = 0, row; i < oldData.length; i++) {
                                    row = oldData[i];
                                    if (!row || !row.tempId) {
                                        oldData.splice(oldData.length, 1);    //删除一项
                                    }
                                    continue;
                            }

                            tableIns.reload({
                                data: oldData
                            });
                        },
                        save: function () {
                            var order = {
                                "orderno": $("#orderno").val(),
                                "suppliercode": $("#suppliercode").val(),
                                "total": parseFloat($("#total").val()),
                                "checktime": $("#checktime").val(),
                                "state": $("#state").val(),
                            }
                            var data = fnGetDataArryObj("Orderform", "orderno='" + order.orderno + "'");
                            if (data.length>5) { alert("订单号重复！请检查"); return; }
                            if (order.orderno == "" || order.suppliercode == "" || order.total == "" || order.checktime == "" || order.state == "") alert("表单不能为空，请填写正确")

                            else {
                                var msg = fnInsertData("Orderform", order);
                                insertdetail();
                                if (typeof (msg) == "undefined") alert("执行成功");
                                else alert("执行动作失败，请联系管理员")
                            }
                            
                         }
                    }
                    
                    function insertdetail() {
                        for (var i = 0; i < viewObj.tbData.length; i++) {
                          var  orderdetail = {
                                "orderno": $("#orderno").val(),
                                "factorycode": viewObj.tbData[i].factorycode,
                              "num": parseFloat(viewObj.tbData[i].num),
                              "price": parseFloat(viewObj.tbData[i].price),
                              "sumprice": parseFloat(parseFloat(viewObj.tbData[i].num) * parseFloat(viewObj.tbData[i].price))

                            }
                            if (orderdetail.orderno == "") alert("第"+(i+1)+"明细数据有误，请仔细检查")
                            else {
                                fnInsertData("OrderformDetail", orderdetail)
                            }
                            
                            
                        }
                    }
                    function GetName(d) {
                        var data = fnGetDataArryObj("Commodity", "factorycode='" + d.factorycode + "'");
                        data = JSON.parse(data);
                        return data[0].name;
                    }
                    //激活事件
                    var activeByType = function (type, arg) {
                        if (arguments.length === 2) {
                            active[type] ? active[type].call(this, arg) : '';
                        } else {
                            active[type] ? active[type].call(this) : '';
                        }
                    }

                    //注册按钮事件
                    $('.layui-btn[data-type]').on('click', function () {
                        var type = $(this).data('type');
                        activeByType(type);
                    });

                    
                    //监听工具条
                    table.on('tool(dataTable)', function (obj) {
                        var data = obj.data, event = obj.event, tr = obj.tr; //获得当前行 tr 的DOM对象;
                        switch (event) {
                            case "del":
                                layer.confirm('真的删除行么？', function (index) {
                                    
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.close(index+1);
                                    activeByType('removeEmptyTableCache');
                                    layer.closeAll('dialog');
                                });
                                break;
                        }
                    });
                });
                function orderbox() {
                    layui.active
                    layui.use("layer", function () {
                        var layer = layui.layer;  //layer初始化
                        layer.open({
                            type: 1,
                            content: $('#orderbox'),
                            area: ['800px', '400px'],
                            success: function () {

                            },
                            cancel: function () {

                            }
                        });
                    });
                }
            </script>
        </div>
    </div>


    
</body>

</html>
