@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/CSS/css/style.css" />
    <link href="~/Scripts/CSS/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/Widget/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
    <script src="~/Scripts/CSS/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/ace-elements.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/ace.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/bootstrap.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/typeahead-bs2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/CSS/Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Scripts/CSS/js/lrtk.js" type="text/javascript"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>分类管理</title>
</head>

<body>
    <div class=" clearfix">
        <div id="category">
            <div id="scrollsidebar" class="left_Treeview">
                <div class="show_btn" id="rightArrow"><span></span></div>
                <div class="widget-box side_content">
                    <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
                    <div class="side_list">
                        <div class="widget-header header-color-green2">
                            <h4 class="lighter smaller">产品类型列表</h4><br />
                            <h5 class="lighter smaller" onclick="history.go(0)">刷新</h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <div id="treeDemo" class="ztree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO SRC="Product_category_add?name=超市总分类" class="page_right_style"></iframe>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#category").fix({
            float: 'left',
            //minStatue : true,
            skin: 'green',
            durationTime: false
        });
    });
</script>
<script type="text/javascript">
    //初始化宽度、高度
    $(".widget-box").height($(window).height());
    $(".page_right_style").width($(window).width() - 220);
    //当文档窗口发生改变时 触发
    $(window).resize(function () {
        $(".widget-box").height($(window).height());
        $(".page_right_style").width($(window).width() - 220);
    })

    /**************/
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: false,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: "name"
            }
        },
        callback: {
            beforeClick: function (treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                demoIframe.attr("src", "Product_category_add?name=" + treeNode.name + "&id=" + treeNode.id + "&pid=" + treeNode.pId + "");
            }
        }
    };

    var zNodes;
    var code;

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>" + str + "</li>");
    }

    $(document).ready(function () {
        zNodes = fnGetDataArryObj("Commoditytype", "");//json字符串
        var obj = JSON.parse(zNodes);
        for (var i = 0; i < obj.length; i++) {
            obj[i].id = parseInt(obj[i].id);
            obj[i].pId = parseInt(obj[i].pId);
        }
        zNodes = obj;
        var t = $("#treeDemo");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        demoIframe.bind("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.selectNode(zTree.getNodeByParam("id", '11'));
    });
    
</script>