<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Scripts/CSS/css/style.css"/>
        	<link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
        <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
        <link href="~/Scripts/CSS/assets/css/codemirror.css" rel="stylesheet">
		<script src="~/Scripts/CSS/assets/js/ace-extra.min.js"></script>
		<script src="~/Scripts/CSS/assets/js/jquery.min.js"></script>        
           	<script src="~/Scripts/CSS/assets/dist/echarts.js"></script>
        <script src="~/Scripts/CSS/assets/js/bootstrap.min.js"></script>   
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
       <title></title>
       </head>		
<body>
<div class="page-content clearfix">
 <div class="alert alert-block alert-success">
  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
  <i class="icon-ok green"></i>欢迎使用<strong class="green">超市管理系统<small></small></strong>
 </div>
 <div class="state-overview clearfix">
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                      <a href="#" title="商城会员">
                          <div class="symbol terques">
                             <i class="icon-user"></i>
                          </div>
                          <div class="value">
                              <h1 id="vipnum"></h1>
                              <p>vip用户</p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol red">
                              <i class="icon-tags"></i>
                          </div>
                          <div class="value">
                              <h1 id="ordernum"></h1>
                              <p>累积进货订单</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol yellow">
                              <i class="icon-shopping-cart"></i>
                          </div>
                          <div class="value">
                              <h1 class="salesnum"></h1>
                              <p>累积超市订单</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol blue">
                              <i class="icon-bar-chart"></i>
                          </div>
                          <div class="value">
                              <h1 class="salesprice"></h1>
                              <p>销售额</p>
                          </div>
                      </section>
                  </div>
              </div>
             <!--实时交易记录-->
             <div class="clearfix">
              <div class="Order_Statistics ">
          <div class="title_name">危险库存提示</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">危险商品数：</td><td class="munber"><a href="#">0</a>&nbsp;个</td></tr>
           <tr><td class="name">缺货数量：</td><td class="munber"><a href="#">0</a>&nbsp;个</td></tr>
           <tr><td class="name">危险商品种类数：</td><td class="munber"><a href="#">0</a>&nbsp;个</td></tr>
           </tbody>
          </table>
         </div> 
         <div class="Order_Statistics">
          <div class="title_name">商品统计信息</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">商品总数：</td><td class="munber"><a href="#" id="commoditynum"></a>&nbsp;个</td></tr>
           <tr><td class="name">总库存：</td><td class="munber"><a href="#" id="commodityInvent"></a>&nbsp;个</td></tr>
           </tbody>
          </table>
         </div> 
         <div class="Order_Statistics">
          <div class="title_name">累积销售额</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">销售订单个数：</td><td class="munber"><a href="#" class="salesnum"></a>&nbsp;次</td></tr>
           <tr><td class="name">销售额：</td><td class="munber"><a href="#" class="salesprice"></a>&nbsp;元</td></tr>
           
           </tbody>
          </table>
         </div> 
             <!--<div class="t_Record">
               <div id="main" style="height:300px; overflow:hidden; width:100%; overflow:auto" ></div>     
              </div> -->
         <div class="news_style">
          <div class="title_name">员工公告</div>
             <div>  放假通知：2020年5月1日劳动节，本超市员工放假一天（5月1日），望各部门负责人做好员工排班！</div>
         </div> 
         </div>
   
     </div>
</body>
</html>
<script type="text/javascript">
//面包屑返回值
var index = parent.layer.getFrameIndex(window.name);
parent.layer.iframeAuto(index);
$('.no-radius').on('click', function(){
	var cname = $(this).attr("title");
	var chref = $(this).attr("href");
	var cnames = parent.$('.Current_page').html();
	var herf = parent.$("#iframe").attr("src");
    parent.$('#parentIframe').html(cname);
    parent.$('#iframe').attr("src",chref).ready();;
	parent.$('#parentIframe').css("display","inline-block");
	parent.$('.Current_page').attr({"name":herf,"href":"javascript:void(0)"}).css({"color":"#4c8fbd","cursor":"pointer"});
	//parent.$('.Current_page').html("<a href='javascript:void(0)' name="+herf+" class='iframeurl'>" + cnames + "</a>");
    parent.layer.close(index);
	
});
     $(document).ready(function(){
		 
		  $(".t_Record").width($(window).width()-640);
		  //当文档窗口发生改变时 触发  
    $(window).resize(function(){
		 $(".t_Record").width($(window).width()-640);
		});
 });
    $(function () {
        var data = fnGetDataArryObj("v_Homeindex","1=1");
        data = JSON.parse(data);
        $("#vipnum").text(data[0].vipnum);
        $("#ordernum").text(data[0].ordernum);
        $(".salesprice").text(data[0].salesprice);
        $(".salesnum").text(data[0].salesnum);
        $("#commoditynum").text(data[0].commoditynum);
        $("#commodityInvent").text(data[0].commodityInvent);

       
    })
	 
 </script>   