@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/CSS/css/style.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
    <link href="~/Scripts/CSS/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/bootstrap.min.js"></script>
    <title>添加产品分类</title>
</head>
<body>
    <div class="type_style">
        <div class="type_title">产品类型信息</div>
        <div class="type_content">
            <div class="Operate_btn">
                <a href="#" class="btn  btn-warning" onclick="InsertData()"><i class="icon-edit align-top bigger-125"></i>新增子类型</a>
                <a href="#" class="btn  btn-danger" onclick="DeleteData()"><i class="icon-trash   align-top bigger-125"></i>删除该类型</a>
            </div>
            <form action="" method="post" class="form form-horizontal" id="form-user-add">
                <div class="Operate_cont clearfix">
                    <label class="form-label"><span class="c-red">*</span>父节点：</label>
                    <div class="formControls ">
                        <div class="formControls ">
                            <input type="text" class="input-text" value="@ViewBag.TypeName" readonly id="parent">
                        </div>
                    </div>
                </div>
                <div class="Operate_cont clearfix">
                    <label class="form-label"><span class="c-red">*</span>子节点：</label>
                    <div class="formControls ">
                        <input type="text" class="input-text" value="" placeholder="输入分类名称" id="kid">
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <script type="text/javascript">
        var name = "@ViewBag.TypeName";
        var id = "@ViewBag.TypeId";
        var pid = "@ViewBag.TypePid";


        function InsertData() {
            var Pname = $("#parent").val();
            var Kname = $("#kid").val();
            var code = new Array(id, pid, Kname);//数组 存储过程的参数
            var msg = fnExecProcedure("Add_Commoditytype", "'" + id + "','" + pid + "','" + Kname + "'");
            if (msg == "True") { alert("插入成功");  }
            else alert("插入失败")
        }
        function DeleteData() {
            console.log("删除")
            var Pname = $("#parent").val();
            var msg = fnDeleteData("Commoditytype", "name='" + Pname+"'");
            if (msg == "True") { alert("删除成功");}
            else alert("删除失败")
        }
    </script>
</body>
</html>