@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/CSS/css/style.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/Widget/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link href="~/Scripts/CSS/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <script src="~/Scripts/CSS/js/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/bootstrap.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="~/Scripts/CSS/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/CSS/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/CSS/js/H-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/CSS/js/H-ui.admin.js"></script>
    <script src="~/Scripts/CSS/assets/layer/layer.js" type="text/javascript"></script>
    <script src="~/Scripts/CSS/assets/laydate/laydate.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/CSS/Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Scripts/CSS/js/lrtk.js" type="text/javascript"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>

    <title>职工列表</title>
</head>
<body>
    <div class=" page-content clearfix">
        <div id="products_style">
            <div class="search_style">

                <ul class="search_content clearfix">
                    <li><label class="l_f">职员</label><input name="" id="supplierinfo" type="text" class="text_add" placeholder="输入工号" style=" width:250px" /></li>
                    <li style="width:90px;"><button type="button" class="btn_search" onclick="search()"><i class="icon-search"></i>查询</button></li>
                </ul>
            </div>
            <div class="border clearfix">
                <span class="l_f">
                    <a href="/Users/Staff_Add" title="添加职员" class="btn btn-warning Order_form"><i class="icon-plus"></i>添加职员</a>
                </span>
                @*<span class="r_f">共：<b>2334</b>件商品</span>*@
            </div>
            <!--产品列表展示-->
            
            <div class="table_menu_list" id="test6">
                <iframe id="iframe" style="border:0; width:120%; background-color:#FFF;height:100%" name="iframe" frameborder="0" src="">  </iframe>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    $(function () {

        var src = '/Table/Table?name=Staff';
        $("#iframe").attr('src', src);
	$("#products_style").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',
		durationTime :false,
		spacingw:30,//设置隐藏时的距离
	    spacingh:260,//设置显示时间距
    });
});
</script>
<script type="text/javascript">
//初始化宽度、高度
 $(".widget-box").height($(window).height()-215);
$(".table_menu_list").width($(window).width()-260);
 $(".table_menu_list").height($(window).height()-215);
  //当文档窗口发生改变时 触发
    $(window).resize(function(){
	$(".widget-box").height($(window).height()-215);
	 $(".table_menu_list").width($(window).width()-260);
	  $(".table_menu_list").height($(window).height()-215);
	})

/*******树状图*******/
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				demoIframe.attr("src",treeNode.file + ".html");
				return true;
			}
		}
	}
};

var zNodes

var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

    $(document).ready(function () {
        zNodes = fnGetDataArryObj("Commoditytype", "");//json字符串
        var obj = JSON.parse(zNodes);
        for (var i = 0; i < obj.length; i++) {
            obj[i].id = parseInt(obj[i].id);
            obj[i].pId = parseInt(obj[i].pId);
        }
        zNodes = obj;
        var t = $("#treeDemo");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        demoIframe.bind("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.selectNode(zTree.getNodeByParam("id", '11'));
    });
    function search() {
        var condition = "code like '%25" + $("#supplierinfo").val() + "%'";
        $("#iframe").attr("src", "/Table/Table?name=Staff&code=" + condition);

    }


</script>
