@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Scripts/layui-v2.5.6/layui/css/layui.css" media="all">
    <script src="~/Scripts/layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>订单管理</title>
</head>
<body>
    
        <form class="layui-form" action="">
            <div class="layui-form-item layui-laypage-btn layui-row">
                <div class="layui-col-xs6">
                    <label class="layui-form-label">订单号</label>
                    <div class="layui-input-block">
                        <input type="text" id="salesorderno" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">总价</label>
                    <div class="layui-input-block">
                        <input type="text" id="total" readonly lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">销售时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="selltime" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">订单类型</label>
                    <div class="layui-input-block">
                        <input type="text" id="state" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="销售">
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">会员账号</label>
                    <div class="layui-input-block">
                        <input type="text" id="Vipcode" readonly lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="" style="float:left;width:80%">
                        <button type="reset" name="btnReset" class="layui-btn layui-btn-primary" onclick="vipbox()">查找会员</button>
                    </div>
                </div>
            </div>
        </form>@*单头*@
        <div id="vipbox" style="display:none">
            <div class="layui-col-xs6">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" id="vipphone" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="" style="width:300px">
                    <button type="reset" name="btnReset" class="layui-btn layui-btn-primary" onclick="FindVip()">查找会员</button>
                </div>
                <label class="layui-form-label">账号</label>
                <div class="layui-input-block">
                    <input type="text" id="vipcode" required  placeholder="" autocomplete="off" class="layui-input" value="" style="width:300px" readonly>
                </div>
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" id="vipname" required  placeholder="" autocomplete="off" class="layui-input" value="" style="width:300px" readonly>
                </div>
            </div>
        </div>
        <div class="childBody">
            <section class="layui-col-md12" style="margin: 0 auto; float: none;">
                <div class="layui-card">
                    <div class="layui-card-body layui-text">
                        <div id="toolbar">
                            <div>
                                <button type="button" class="layui-btn layui-btn-sm" data-type="addRow" title="添加一行">
                                    <i class="layui-icon layui-icon-add-1"></i> 添加一行
                                </button>
                            </div>
                        </div>
                        <div id="tableRes" class="table-overlay">
                            <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                        </div>
                        <div id="action" class="text-center">
                            <button type="button" name="btnSave" class="layui-btn" data-type="save" onclick="Insertdata()"><i class="layui-icon layui-icon-ok-circle"></i>结算</button>
                            <button type="reset" name="btnReset" class="layui-btn layui-btn-primary">取消</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--recommended script position-->
            </div>
            <script type="text/javascript">
                var salesorderno;
                $(function () {
                    var time = new Date();
                    var selltime = time.getFullYear().toString() + "-" + (time.getMonth() + 1).toString() + "-" + time.getDate().toString() + " " + time.getHours().toString() + ":" + time.getMinutes().toString() + ":" + time.getSeconds().toString();
                    var timedata = time.getFullYear().toString() + (time.getMonth() + 1).toString() + time.getDate().toString();
                    var selldata = fnGetDataArryObj("Salesform", "Salesorderno like '%" + timedata + "%' and state='销售'")
                    if (selldata.length > 10) {
                        selldata = JSON.parse(selldata);
                        salesorderno = timedata + fn1((selldata.length + 1).toString())
                        $("#salesorderno").attr("value", salesorderno);
                        $("#selltime").attr("value", selltime);
                    }
                    else {
                        console.log(selldata.length)
                        salesorderno = timedata + "0001";
                        $("#salesorderno").attr("value", salesorderno);
                        $("#selltime").attr("value", selltime);
                    }
                });
                //准备视图对象
                window.viewObj = {
                    tbData: [{
                        factorycode: '',
                        name: '',
                        num: '',
                        price: '',
                        sumprice: '',
                    }],
                    renderSelectOptions: function (data, settings) {
                        settings = settings || {};
                        var valueField = settings.valueField || 'value',
                            textField = settings.textField || 'text',
                            selectedValue = settings.selectedValue || "";
                        var html = [];
                        for (var i = 0, item; i < data.length; i++) {
                            item = data[i];
                            html.push('<option value="');
                            html.push(item[valueField]);
                            html.push('"');
                            if (selectedValue && item[valueField] == selectedValue) {
                                html.push(' selected="selected"');
                            }
                            html.push('>');
                            html.push(item[textField]);
                            html.push('</option>');
                        }
                        return html.join('');
                    }
                };

                //layui 模块化引用
                layui.use(['jquery', 'table', 'layer'], function () {
                    var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer;

                    //数据表格实例化
                    var tbWidth = $("#tableRes").width();
                    var layTableId = "layTable";
                    var tableIns = table.render({
                        elem: '#dataTable',
                        id: layTableId,
                        data: viewObj.tbData,
                        width: tbWidth,
                        page: true,
                        loading: true,
                        even: false, //不开启隔行背景
                        cols: [[
                            //{ title: '序号', type: 'numbers' },
                            { field: 'factorycode', title: '工厂码', edit: 'text' },
                            {
                                field: 'name', title: '商品名称', edit: 'text', templet: function (d) {
                                    if (d.factorycode == undefined || d.factorycode == "") return null;
                                    else return GetName(d);
                                }
                            },
                            { field: 'num', title: '数量', edit: 'text' },
                            {
                                field: 'price', title: '售价', edit: 'text', templet: function (d) {
                                    if (d.factorycode == undefined || d.factorycode == "") return null;
                                    else return Getprice(d);
                                }
                            },
                            {
                                field: 'sumprice', title: '总额', edit: 'text', templet: function (d) {
                                    d.sumprice = d.num * d.price
                                    return d.num * d.price
                                }
                            },
                            {
                                field: 'tempId', title: '操作', templet: function (d) {
                                    return '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-id="' + d.tempId + '"><i class="layui-icon layui-icon-delete"></i>移除</a>';
                                }
                            }
                        ]],
                        done: function (res, curr, count) {
                            viewObj.tbData = res.data;

                        }
                    });

                    //定义事件集合
                    var active = {
                        addRow: function () {	//添加一行
                            var oldData = table.cache[layTableId];
                            var newRow = {
                                factorycode: '',
                                name: '',
                                num: '',
                                price: '',
                                sumprice: '',
                            };
                            oldData.push(newRow);
                            tableIns.reload({
                                data: oldData
                            });
                        },
                        updateRow: function (obj) {
                            var oldData = table.cache[layTableId];
                            for (var i = 0, row; i < oldData.length; i++) {
                                row = oldData[i];
                                if (row.tempId == obj.tempId) {
                                    $.extend(oldData[i], obj);
                                    return;
                                }
                            }
                            tableIns.reload({
                                data: oldData
                            });
                        },
                        removeEmptyTableCache: function () {
                            var oldData = table.cache[layTableId];
                            for (var i = 0, row; i < oldData.length; i++) {
                                row = oldData[i];
                                if (!row || !row.tempId) {
                                    oldData.splice(oldData.length, 1);    //删除一项
                                }
                                continue;
                            }
                           
                            tableIns.reload({
                                data: oldData
                            });
                        },
                        save: function () {
                            var order = {
                                "orderno": $("#orderno").val(),
                                "suppliercode": $("#suppliercode").val(),
                                "total": parseFloat($("#total").val()),
                                "checktime": $("#checktime").val(),
                                "state": $("#state").val(),
                            }
                            var msg = fnInsertData("Orderform", order);
                            insertdetail();

                            if (typeof (msg) == "undefined") alert("执行成功");
                            else alert("执行动作失败，请联系管理员")
                      }
                    }
                    function insertdetail() {
                        for (var i = 0; i < viewObj.tbData.length; i++) {
                          var  orderdetail = {
                                "orderno": $("#orderno").val(),
                                "factorycode": viewObj.tbData[i].factorycode,
                              "num": parseFloat(viewObj.tbData[i].num),
                              "price": parseFloat(viewObj.tbData[i].price),
                              "sumprice": parseFloat(parseFloat(viewObj.tbData[i].num) * parseFloat(viewObj.tbData[i].price))

                            }

                            fnInsertData("OrderformDetail", orderdetail)

                        }
                    }
                    function GetName(d) {
                        var data = fnGetDataArryObj("Commodity", "factorycode='" + d.factorycode + "'");
                        data = JSON.parse(data);
                        d.name = data[0].name;
                        return data[0].name;
                    }
                    function Getprice(d) {
                        var tab = $("#Vipcode").val() == "" ? true : false;
                        if (tab == true) {//普通售价
                            var data = fnGetDataArryObj("Prices", "factorycode='" + d.factorycode + "'");
                            data = JSON.parse(data);
                            d.price = data[0].sellingprice;
                            return data[0].sellingprice;
                        }
                        else if (tab == false) {//vip售价
                            var data = fnGetDataArryObj("Prices", "factorycode='" + d.factorycode + "'");
                            data = JSON.parse(data);
                            d.price = data[0].vipprice;
                            return data[0].vipprice;
                        }
                    }
                    //激活事件
                    var activeByType = function (type, arg) {
                        if (arguments.length === 2) {
                            active[type] ? active[type].call(this, arg) : '';
                        } else {
                            active[type] ? active[type].call(this) : '';
                        }
                    }

                    //注册按钮事件
                    $('.layui-btn[data-type]').on('click', function () {
                        var type = $(this).data('type');
                        activeByType(type);
                    });


                    //监听工具条
                    table.on('tool(dataTable)', function (obj) {
                        var data = obj.data, event = obj.event, tr = obj.tr; //获得当前行 tr 的DOM对象;
                        switch (event) {
                            case "del":
                                layer.confirm('真的删除行么？', function (index) {

                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.close(index+1);
                                    activeByType('removeEmptyTableCache');
                                    layer.closeAll('dialog');
                                });
                                break;
                        }
                    });
                });
                //打开会员盒子
                function vipbox() {
                    
                    layui.active
                    layui.use("layer", function () {
                        var layer = layui.layer;  //layer初始化
                        layer.open({
                            type: 1,
                            content: $('#vipbox'),
                            area: ['500px', '400px'],
                            success: function () {

                            },
                            cancel: function () {
                                $("#vipname").val("");
                                $("#vipphone").val("");
                                $("#vipcode").val("");
                            }
                        });
                    });
                }
                //查找会员
                function FindVip() {
                    var phone = $("#vipphone").val();
                    var data = fnGetDataArryObj("Viptable", "phone='" + phone + "'")
                    if (data.length > 2) {
                        data = JSON.parse(data);
                        $("#vipname").attr("value", data[0].name)
                        $("#vipcode").attr("value", data[0].vipcode)
                        $("#Vipcode").attr("value", data[0].vipcode)
                    }
                    else layer.msg("该手机号没有注册会员！")
                }
                //转换位数
                function fn1(str) {
                    if (str.length < 4) {
                        var nstr = "";
                        for (var i = 0; i < 4 - str.length; i++) {
                            nstr += "0";
                        }
                        return nstr + str;
                    } else {
                        return str;
                    }
                }
                //结算
                function Insertdata() {
                    var count = 0;
                    try {
                        for (var i = 0; i < viewObj.tbData.length; i++) {
                            var salesdetail = {
                                "Salesorderno": $("#salesorderno").val(),
                                "factorycode": viewObj.tbData[i].factorycode,
                                "num": parseFloat(viewObj.tbData[i].num),
                                "price": parseFloat(viewObj.tbData[i].price),
                                "sumprice": parseFloat(parseFloat(viewObj.tbData[i].num) * parseFloat(viewObj.tbData[i].price)),
                                "pricestate": "销售"
                            }
                            fnInsertData("SalesformDetail", salesdetail);
                            if (typeof salesdetail.sumprice === 'number' && isNaN(salesdetail.sumprice) != true) {
                                count = count + salesdetail.sumprice;
                            }
                        }
                        layer.msg('本次消费一共' + count + '元钱~', {
                            time: 5000, //20s后自动关闭
                            btn: ['确定']
                        });
                        var salesform = {
                            "Salesorderno": $("#salesorderno").val(),
                            "Salestime": $("#selltime").val(),
                            "state": $("#state").val(),
                            "vipcode": $("#Vipcode").val(),
                            "sumprice": parseFloat(count)
                        }
                        fnInsertData("Salesform", salesform);
                        $("#total").attr("value", count)
                    } catch{ alert("结算失败，检查销售明细") }
                    
                }
            </script>
        



</body>

</html>
