@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Scripts/layui-v2.5.6/layui/css/layui.css" media="all">
    <script src="~/Scripts/layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>销售列表</title>
</head>
<body>
    <div id="testIframe" style="height:500px">
        <iframe id="iframe" style="border:0; width:100%; background-color:#FFF;height:100%" name="iframe" frameborder="0" src="/Table/Table?name=v_SalesformDetail">  </iframe>
    </div>
    
</body>
</html>
