@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/CSS/css/style.css" />
    <link href="~/Scripts/CSS/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>会员管理</title>
</head>
<body>
    <div>
        <div class="" id="add_picture">
            <div class="">

                <form action="" method="post" class="form form-horizontal" id="form-article-add">

                    <div class=" clearfix cl">

                        @*<div class="Add_p_s">
                            <label class="form-label col-2">会员号：</label>
                            <div class="formControls col-2">
                                <input type="text" class="input-text" value="" placeholder="" id="vipcode" name="" readonly>
                            </div>
                        </div>*@
                        <div class="Add_p_s">
                            <label class="form-label col-2">姓名：</label>
                            <div class="formControls col-2">
                                <input type="text" class="input-text" value="" placeholder="" id="name" name="">
                            </div>
                        </div>
                        <div class="Add_p_s">
                            <label class="form-label col-2">电话号码：</label>
                            <div class="formControls col-2">
                                <input type="text" class="input-text" value="" placeholder="" id="phone" name="">
                            </div>
                        </div>
                        <div class="Add_p_s">
                            <label class="form-label col-2">等级：</label>
                            <div class="formControls col-2">
                                <input type="text" class="input-text" value="普通会员" placeholder="" id="integral" name="" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix cl">
                        <div class="Button_operation">
                            <button onclick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="icon-save "></i>新增</button>
                            <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <label class="form-label col-2">电话号：</label>
    <div class="formControls col-2">
        <input type="text" class="input-text" value="" placeholder="不支持模糊查询" id="phone1" name="" style="float:left">

    </div>
    <button onclick="search()" class="btn btn-primary radius " type="submit" style="float:left"><i class="icon-save "></i>搜索</button>
    <div id="testIframe" style="height:500px">
        <iframe id="iframe" style="border:0; width:100%; background-color:#FFF;height:100%" name="iframe" frameborder="0" src="/Table/Table?name=Viptable">  </iframe>
    </div>
    <script type="text/javascript">
        $(function () {
            var data = fnGetDataArryObj("Viptable","1=1");
            data = JSON.parse(data);
            $("#vipcode").val(data.length+1);
        })
        function article_save_submit() {
            if ($("#name").val() == "") {
                alert("姓名不能为空");
                return;
            }
            if ($("#phone").val() == "") {
                alert("电话不能为空");
                return;
            }
            var data = {
                "vipcode": null,
                "name": $("#name").val(),
                "phone": $("#phone").val(),
                "integral": $("#integral").val()
            }
            try {
                fnInsertData("Viptable", data);
                alert("新增成功");
                $("#iframe").attr("src", "/Table/Table?name=Viptable")
            } catch{
                alert("新增失败")
            }
        }
        function search() {
            var data = $("#phone1").val().toString();
            if (data != "") {
                var condition = " phone = '" + data + "'";
                $("#iframe").attr("src", "/Table/Table?name=Viptable&code=" + condition)
            }
            
        }
    </script>
</body>
</html>
