@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/Scripts/CSS/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/CSS/css/style.css" />
    <link href="~/Scripts/CSS/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Scripts/CSS/assets/css/font-awesome.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/ajaxSQL/toDB.js"></script>
    <title>新增用户</title>
</head>
<body>
    <div class="" id="add_picture">
        <div class="">
            
            <form action="" method="post" class="form form-horizontal" id="form-article-add">
                
                <div class=" clearfix cl">

                    <div class="Add_p_s">
                        <label class="form-label col-2">工号：</label>
                        <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="code" name=""></div>
                    </div>
                    <div class="Add_p_s">
                        <label class="form-label col-2">密码：</label>
                        <div class="formControls col-2"><input type="password" class="input-text" value="" placeholder="请输入密码" id="password" name=""></div>
                    </div>
                    <div class="Add_p_s">
                        <label class="form-label col-2">端口：</label>
                        <div class="formControls col-2">
                            <select id="port">
                                <option value="">请选择...</option>
                                <option value="1">前端端口</option>
                                <option value="2">后端端口</option>
                                <option value="3">管理员</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="clearfix cl">
                    <div class="Button_operation">
                        <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="icon-save "></i>新增</button>
                        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 <script type="text/javascript">
     
     $(function () {
      
     });
     function layer_close() {
         history.go(-1);
     }
     function article_save_submit() {
         //验证必填项是否为空
         var code = $("#code").val();
        
         if (code == "") {
             alert("工号不能为空，请填写！");
             return;
         };
       
   

         var UsersData = {
             code: $("#code").val(),
             password: $("#password").val(),
             port: $("#port").val(),
           
         }
        
        
           var msg = fnInsertData("Users", UsersData);
         if (typeof (mag) == "undefined") alert("执行成功");
         else alert("执行动作失败，请联系管理员")
         
     }
 </script>

</body>
</html>